.card {
	margin-right: 1.25rem /* 4px */;
	cursor: pointer;
	&-large {
		position: relative;
		width: 300px;
		min-width: 300px;
		height: 500px;
		min-height: 500px;
		img {
			object-fit: cover;
		}
	}

	&-medium {
		position: relative;
		width: 280px;
		min-width: 280px;
		height: 350px;
		min-height: 350px;
	}

	&-small {
		position: relative;
		width: 400px;
		min-width: 400px;
		height: 250px;
		min-height: 250px;
	}

	&__img {
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		border-radius: 0.375rem /* 6px */;
		object-fit: cover;
		object-position: center;
		display: block;
		max-width: 100%;
	}
}
