@import '@/styles/scss/variables.scss';

.modal {
	&__overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
	}

	&__content {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 800px;
		bottom: 40px;
		background-color: $black40;
		top: 15%;
		outline: none;
		border-radius: 10px;
		border: 2px solid $shadow10;
	}

	&__video {
		position: relative;
		&__iframe {
			border-radius: 10px 10px 0 0;
			box-shadow: 0px 0px 40px 16px rgba(255,36,36,0.5);
		}
	}

	&__buttons {
		position: absolute;
		top: 70%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
		width: 25%;
		&-item {
			border-color: var(--white10);
			border-style: solid;
			border-width: 2px;
			background-color: var(--gray40);
			border-radius: 9999px;
			padding: 0.5rem /* 8px */;
			display: flex;
			justify-content: center;
		}
	}

	&__body {
		margin-top: 1rem /* 24px */;
		padding: 1rem 2rem;
		display: grid;
		grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
		gap: 2rem;
		&__wrapper {
			max-height: 30vh /* 208px */;
			overflow-y: scroll;
		}
		&:last-child {
			color: $white10;
			line-height: 1.75rem /* 28px */;
		}
	}

	&__date {
		font-size: 1rem /* 18px */;
		font-weight: 400;
		line-height: 1.75rem /* 28px */;
		margin-bottom: 0.5rem /* 8px */;
		color: $green10;
	}

	&__title {
		margin-top: 20px;
		font-size: 2rem /* 24px */;
		font-weight: 600;
		line-height: 2rem /* 32px */;
		margin-bottom: 0.5rem /* 8px */;
	}

	&__description {
		margin-bottom: 0.5rem /* 8px */;
		margin-top: 0.75rem /* 12px */;
	}

	&__sidebar {
		display: flex;
		justify-content: flex-start;
		overflow-wrap: break-word;
		font-size: 0.875rem /* 14px */;
		line-height: 1.25rem /* 20px */;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 1rem /* 18px */;
		color: $gray10;
		margin-right: 10px;
	}

	&__subtext {
		color: $white30;
		font-size: 1.2rem;
	}

	@media screen and (max-width: 768px) {
		&__content {
			width: 80%;
			height: 100vh;
		}

		&__buttons {
			width: 50%;
		}
		
		&__buttons {
			width: 30%;
		}
	}
	@media screen and (max-width: 768px) {
		&__content {
			width: 90%;
		}

		&__buttons {
			width: 60%;
		}
		
		&__body {
			padding: 1rem;
		}

		&__sidebar {
			flex-direction: column;
		}

		&__subtitle {
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: 425px) {
		&__title {
			font-size: 1.5rem /* 24px */;
		}

		&__description {
			font-size: 1rem /* 18px */;
		}

		&__subtext {
			font-size: 1rem;
		}
	}

	@media screen and (max-width: 320px) {
		&__content {
			width: 100%;
		}

		&__buttons {
			width: 60%;
		}
		
		&__body {
			padding: 1rem;
		}
	}
}